<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1118, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-09-14 19:07:43 +0000</string>
	<key>Creator</key>
	<string>Nuno Gaspar</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{322.03909301757812, 399.99998474121094}, {76, 17}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-LightOblique</string>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>67</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica-Light;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\i\fs28 \cf0 Ocaml-Java}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{303.01733380857127, 421.93767015071478}, {132.98504638671875, 15}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>66</integer>
			<key>Rotation</key>
			<real>0.48455843329429626</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.34472709894180298</real>
				<key>width</key>
				<real>14.986950874328613</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>tiff</key>
						<data>
						TU0AKgAAAQgAAAAAHh4e/x4eHv8A
						AAAAAAAAAB4eHv8eHh7/AAAAAAAA
						AAAAAAAAHh4e/x4eHv8AAAAAAAAA
						AB4eHv8eHh7/Hh4e/wAAAAAAAAAA
						Hh4e/x4eHv8AAAAAAAAAAB4eHv8e
						Hh7/Hh4e/wAAAAAAAAAAHh4e/x4e
						Hv8AAAAAAAAAAAAAAAAeHh7/Hh4e
						/wAAAAAAAAAAHh4e/x4eHv8AAAAA
						AAAAAAAAAAAeHh7/Hh4e/wAAAAAA
						AAAAHh4e/x4eHv8eHh7/AAAAAAAA
						AAAeHh7/Hh4e/wAAAAAAAAAAHh4e
						/x4eHv8eHh7/AAAAAAAAAAAeHh7/
						Hh4e/wAAAAAAAAAAAA4BAAADAAAA
						AQAIAAABAQADAAAAAQAIAAABAgAD
						AAAABAAAAbYBAwADAAAAAQABAAAB
						BgADAAAAAQACAAABEQAEAAAAAQAA
						AAgBEgADAAAAAQABAAABFQADAAAA
						AQAEAAABFgADAAAAAQAIAAABFwAE
						AAAAAQAAAQABHAADAAAAAQABAAAB
						UgADAAAAAQABAAABUwADAAAABAAA
						Ab6HcwAHAAAD7AAAAcYAAAAAAAgA
						CAAIAAgAAQABAAEAAQAAA+xhcHBs
						AgAAAG1udHJSR0IgWFlaIAfYAAEA
						FQAOAA4AA2Fjc3BBUFBMAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAD2
						1gABAAAAANMtYXBwbHuBR48ySeTZ
						c+utLOki444AAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAADnJY
						WVoAAAEsAAAAFGdYWVoAAAFAAAAA
						FGJYWVoAAAFUAAAAFHd0cHQAAAFo
						AAAAFGNoYWQAAAF8AAAALHJUUkMA
						AAGoAAAADmdUUkMAAAG4AAAADmJU
						UkMAAAHIAAAADnZjZ3QAAAHYAAAA
						MG5kaW4AAAIIAAAAOGRlc2MAAAJA
						AAAAZGRzY20AAAKkAAAA+m1tb2QA
						AAOgAAAAKGNwcnQAAAPIAAAAJFhZ
						WiAAAAAAAAB3egAAP1oAAAI3WFla
						IAAAAAAAAFiwAACsBQAAFl9YWVog
						AAAAAAAAJqwAABTDAAC6jVhZWiAA
						AAAAAADyaAABAAAAARLhc2YzMgAA
						AAAAAQxnAAAGBP//85YAAAfbAAD9
						If//+8H///3CAAADogAAw0VjdXJ2
						AAAAAAAAAAEBzQAAY3VydgAAAAAA
						AAABAc0AAGN1cnYAAAAAAAAAAQHN
						AAB2Y2d0AAAAAAAAAAEAANF0AAAA
						AAABAAAAANF0AAAAAAABAAAAANF0
						AAAAAAABAABuZGluAAAAAAAAADAA
						AKPAAABXwAAASsAAAJyAAAAmlwAA
						E1sAAFBAAABUwAACMzMAAjMzAAIz
						M2Rlc2MAAAAAAAAACkNpbmVtYSBI
						RAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAABtbHVj
						AAAAAAAAABIAAAAMbmJOTwAAABIA
						AADocHRQVAAAABIAAADoc3ZTRQAA
						ABIAAADoZmlGSQAAABIAAADoZGFE
						SwAAABIAAADoemhDTgAAABIAAADo
						ZnJGUgAAABIAAADoamFKUAAAABIA
						AADoZW5VUwAAABIAAADocGxQTAAA
						ABIAAADocHRCUgAAABIAAADoZXNF
						UwAAABIAAADoemhUVwAAABIAAADo
						cnVSVQAAABIAAADoa29LUgAAABIA
						AADoZGVERQAAABIAAADobmxOTAAA
						ABIAAADoaXRJVAAAABIAAADoAEMA
						aQBuAGUAbQBhACAASABEAABtbW9k
						AAAAAAAABhAAAJIyAgAOdr+/ywAA
						AAAAAAAAAAAAAAAAAAAAdGV4dAAA
						AABDb3B5cmlnaHQgQXBwbGUsIElu
						Yy4sIDIwMDgA
						</data>
					</dict>
					<key>MiddleFraction</key>
					<real>0.70634919404983521</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.5</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{344.53909301757812, 301.625}, {9, 17}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0</string>
							<key>g</key>
							<string>0</string>
							<key>r</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>63</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs28 \cf0 +}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{322.03909301757812, 318.625}, {76, 17}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0</string>
							<key>g</key>
							<string>0</string>
							<key>r</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Helvetica-LightOblique</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>64</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica-Light;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\i\fs28 \cf0 Ocaml-Java}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{322.03909301757812, 284.625}, {62, 17}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0</string>
							<key>g</key>
							<string>0</string>
							<key>r</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Helvetica-LightOblique</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>65</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica-Light;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\i\fs28 \cf0 extraction}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
			</array>
			<key>ID</key>
			<integer>62</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{303.01544822140806, 341.7499926338773}, {131.98881530761719, 15}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>26</integer>
			<key>Rotation</key>
			<real>0.65116405487060547</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.34472709894180298</real>
				<key>width</key>
				<real>14.986950874328613</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>tiff</key>
						<data>
						TU0AKgAAAQgAAAAAHh4e/x4eHv8A
						AAAAAAAAAB4eHv8eHh7/AAAAAAAA
						AAAAAAAAHh4e/x4eHv8AAAAAAAAA
						AB4eHv8eHh7/Hh4e/wAAAAAAAAAA
						Hh4e/x4eHv8AAAAAAAAAAB4eHv8e
						Hh7/Hh4e/wAAAAAAAAAAHh4e/x4e
						Hv8AAAAAAAAAAAAAAAAeHh7/Hh4e
						/wAAAAAAAAAAHh4e/x4eHv8AAAAA
						AAAAAAAAAAAeHh7/Hh4e/wAAAAAA
						AAAAHh4e/x4eHv8eHh7/AAAAAAAA
						AAAeHh7/Hh4e/wAAAAAAAAAAHh4e
						/x4eHv8eHh7/AAAAAAAAAAAeHh7/
						Hh4e/wAAAAAAAAAAAA4BAAADAAAA
						AQAIAAABAQADAAAAAQAIAAABAgAD
						AAAABAAAAbYBAwADAAAAAQABAAAB
						BgADAAAAAQACAAABEQAEAAAAAQAA
						AAgBEgADAAAAAQABAAABFQADAAAA
						AQAEAAABFgADAAAAAQAIAAABFwAE
						AAAAAQAAAQABHAADAAAAAQABAAAB
						UgADAAAAAQABAAABUwADAAAABAAA
						Ab6HcwAHAAAD7AAAAcYAAAAAAAgA
						CAAIAAgAAQABAAEAAQAAA+xhcHBs
						AgAAAG1udHJSR0IgWFlaIAfYAAEA
						FQAOAA4AA2Fjc3BBUFBMAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAD2
						1gABAAAAANMtYXBwbHuBR48ySeTZ
						c+utLOki444AAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAADnJY
						WVoAAAEsAAAAFGdYWVoAAAFAAAAA
						FGJYWVoAAAFUAAAAFHd0cHQAAAFo
						AAAAFGNoYWQAAAF8AAAALHJUUkMA
						AAGoAAAADmdUUkMAAAG4AAAADmJU
						UkMAAAHIAAAADnZjZ3QAAAHYAAAA
						MG5kaW4AAAIIAAAAOGRlc2MAAAJA
						AAAAZGRzY20AAAKkAAAA+m1tb2QA
						AAOgAAAAKGNwcnQAAAPIAAAAJFhZ
						WiAAAAAAAAB3egAAP1oAAAI3WFla
						IAAAAAAAAFiwAACsBQAAFl9YWVog
						AAAAAAAAJqwAABTDAAC6jVhZWiAA
						AAAAAADyaAABAAAAARLhc2YzMgAA
						AAAAAQxnAAAGBP//85YAAAfbAAD9
						If//+8H///3CAAADogAAw0VjdXJ2
						AAAAAAAAAAEBzQAAY3VydgAAAAAA
						AAABAc0AAGN1cnYAAAAAAAAAAQHN
						AAB2Y2d0AAAAAAAAAAEAANF0AAAA
						AAABAAAAANF0AAAAAAABAAAAANF0
						AAAAAAABAABuZGluAAAAAAAAADAA
						AKPAAABXwAAASsAAAJyAAAAmlwAA
						E1sAAFBAAABUwAACMzMAAjMzAAIz
						M2Rlc2MAAAAAAAAACkNpbmVtYSBI
						RAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAAAAAAAA
						AAAAAAAAAAAAAAAAAAAAAABtbHVj
						AAAAAAAAABIAAAAMbmJOTwAAABIA
						AADocHRQVAAAABIAAADoc3ZTRQAA
						ABIAAADoZmlGSQAAABIAAADoZGFE
						SwAAABIAAADoemhDTgAAABIAAADo
						ZnJGUgAAABIAAADoamFKUAAAABIA
						AADoZW5VUwAAABIAAADocGxQTAAA
						ABIAAADocHRCUgAAABIAAADoZXNF
						UwAAABIAAADoemhUVwAAABIAAADo
						cnVSVQAAABIAAADoa29LUgAAABIA
						AADoZGVERQAAABIAAADobmxOTAAA
						ABIAAADoaXRJVAAAABIAAADoAEMA
						aQBuAGUAbQBhACAASABEAABtbW9k
						AAAAAAAABhAAAJIyAgAOdr+/ywAA
						AAAAAAAAAAAAAAAAAAAAdGV4dAAA
						AABDb3B5cmlnaHQgQXBwbGUsIElu
						Yy4sIDIwMDgA
						</data>
					</dict>
					<key>MiddleFraction</key>
					<real>0.70634919404983521</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.5</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{444.16968103977933, 181.00152587890625}, {144.07821655273438, 43.999237060546875}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>10</real>
					</dict>
					<key>ID</key>
					<integer>69</integer>
					<key>ImageID</key>
					<integer>4</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{439.95880126953125, 516.5}, {11.999999999999989, 14.000755310058594}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>71</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Diamond</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{449.45880126953125, 408}, {103.9999999999999, 110}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>72</integer>
							<key>ImageID</key>
							<integer>3</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{456.95880126953125, 518}, {103.9999999999999, 14}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>Vertical</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>FontInfo</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>b</key>
									<string>0</string>
									<key>g</key>
									<string>0</string>
									<key>r</key>
									<string>0</string>
								</dict>
							</dict>
							<key>ID</key>
							<integer>73</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Pad</key>
								<integer>0</integer>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 Painless interpreter}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{435.95880126953125, 408}, {131, 128}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>74</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>CornerRadius</key>
									<real>9</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>70</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{439.95880807191133, 364.00075531005859}, {12, 14}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>76</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Diamond</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{439.95880807191133, 348.5}, {12, 14.000755310058594}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>77</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Diamond</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{451.95880807191133, 240}, {104, 110}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>78</integer>
							<key>ImageID</key>
							<integer>3</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{456.95880807191133, 364}, {132, 14}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>YES</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>FontInfo</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>b</key>
									<string>0</string>
									<key>g</key>
									<string>0</string>
									<key>r</key>
									<string>0</string>
								</dict>
							</dict>
							<key>ID</key>
							<integer>79</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Pad</key>
								<integer>0</integer>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 custom_well_typed_bool}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
							<key>Wrap</key>
							<string>NO</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{456.95880807191133, 350}, {104, 14}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>YES</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>FontInfo</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>b</key>
									<string>0</string>
									<key>g</key>
									<string>0</string>
									<key>r</key>
									<string>0</string>
								</dict>
							</dict>
							<key>ID</key>
							<integer>80</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Pad</key>
								<integer>0</integer>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 custom_build_state}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
							<key>Wrap</key>
							<string>NO</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{435.95880807191133, 240}, {160.5, 145}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>81</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>CornerRadius</key>
									<real>9</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>75</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{425.880615234375, 152}, {177, 403}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>82</integer>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.5, -0.5}</string>
							<string>{-0.5, -0.5}</string>
							<string>{0.5, -0.5}</string>
							<string>{0.5, -0.5}</string>
							<string>{0.5, -0.5}</string>
							<string>{0.5, 0.49999500000000002}</string>
							<string>{0.5, 0.49999500000000002}</string>
							<string>{0.16666700000000001, 0.49999500000000002}</string>
							<string>{-0.33333400000000002, 0.50000599999999995}</string>
							<string>{-0.5, 0.49999500000000002}</string>
							<string>{-0.49999900000000003, 0.49999500000000002}</string>
							<string>{-0.5, -0.5}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>9</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>68</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{137.5, 290}, {91, 29}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-BoldOblique</string>
				<key>Size</key>
				<real>24</real>
			</dict>
			<key>ID</key>
			<integer>34</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\i\b\fs48 \cf0 Mefresa}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{36.5, 284.625}, {117.5, 109.875}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>31</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{85.802444458007812, 319}, {208.39512634277344, 122}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>32</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{54, 284.625}, {272, 161.375}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>33</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>RoundRect</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>5</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image4.jpg</string>
		<string>image3.png</string>
		<string>image2.jpg</string>
		<string>image1.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2014-09-14 21:12:34 +0000</string>
	<key>Modifier</key>
	<string>Nuno Gaspar</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{26, 112}, {989, 666}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 86}, {854, 527}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>2</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
